:root {
    --color-marron: #42210B;
    --color-crema-fondo: #FFF6EB;
    --color-rosa: #D83F5C;
    --color-beige-1: #D8C8B5;
    --color-beige-2: #CEBAA1;
}

.instrument-sans {
    font-family: "Instrument Sans", serif;
}

.instrument-serif-regular {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.instrument-serif-regular-italic {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1{
    font-family: ;
}

/* 1. Barra de menú */
#menu-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8em 1.6em;
    background-color: var(--color-marron);
}

#title {
    font-size: 3em;
    color: var(--color-one)
}

.fa-bars {
    top: 0;
    right: 0;
    color: var(--color-crema-fondo);
    font-size: 3em;
    transition: color 0.5s ease;
}

.fa-bars:hover {
    color:var(--color-rosa);
    cursor: pointer;
}

#menu {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    transition: 0.5s;
}

#menu > ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-two);
    z-index: 9998;
    position: sticky
}

#menu > ul > li {
    padding: 0.5em;
}

#menu > ul > li > a {
    color: var(--color-four);
    text-decoration: none;
}

#menu > ul > li:hover > a {
    color:var(--color-three);
}

#close {
    position: absolute;
    top: 0.1em;
    right: 0.3em;
    font-size: 4em;
    z-index: 9999;
    color: var(--color-four);
}

#close > i {
    color: var(--color-four);
}

#close:hover > i {
    color: var(--color-one);
    cursor: pointer;
}