/* Variables de CSS */
/* Colores */
:root {
    --color-marron: #42210B;
    --color-crema: #FFF6EB;
    --color-rosa: #D83F5C;
    --color-beige-1: #D8C8B5;
    --color-beige-2: #CEBAA1;
}


p {
  font-family: "Instrument Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Instrument Sans", serif;
}

/* Selectores generales */
img {
    width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--color-one);
}
h1 {
    font-weight: 700;
    font-size: calc(3rem + 1vw);
}

h2 {
    font-size: calc(2rem + 1vw);
}

.btn {
    border-radius:25px;
    border: none;
}

.btn-primary {
    background-color: var(--color-marron);
    color: var(--color-crema);
    font-weight: 600;
    transition: background-color 0.5s ease;
}

.btn-primary:hover, .btn-primary:active {
    background-color: var(--color-rosa) !important;
    color: var(--color-marron);
}

.btn-secondary {
    background-color: var(--color-crema);
    font-weight: 600;
    color: var(--color-marron);
    transition: background-color 0.5s ease;
}

.btn-secondary:hover {
    background-color: var(--color-rosa);
    color: var(--color-crema);
    transition: background-color 0.5s ease;
}

.widget-title, h2 {
    font-family: "Instrument Serif", serif !important;
}

/* NAV */
#menu-bar {
    padding: 0.8em 1.6em;
    background-color: var(--color-marron);
}
.fa-bars {
    color: var(--color-crema);
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.5s ease;
}
.fa-bars:hover {
    color: var(--color-rosa);
}
#menu {
    transition: transform 0.5s;
    z-index: 9998;
}
.translate-end {
    transform: translateX(100%);
}
.translate-start {
    transform: translateX(0%);
}
#menu > ul > li > a {
    color: var(--color-crema);
    font-size: 3rem;
    transition: color 0.3s ease;
    font-size: calc(2rem + 1vw);
    font-weight: 700;
}
#menu > ul > li:hover > a {
    color: var(--color-rosa);
}
#close i {
    font-size: 2rem;
    color: var(--color-crema);
    cursor: pointer;
    transition: color 0.5s ease;
}
#close:hover i {
    color: var(--color-rosa);
}
.bg-secondary {
    background-color: var(--color-marron)!important;
}

.ventana-menu {
    padding: 1rem;
}

/* HEADER WEB*/

.header_web {
    position:relative; 
    overflow: hidden; 
    padding: 0;
    transition: 0.4s;  
}

#header_title {
    position: absolute;  /* Permite posicionar el contenido sobre el video */
    z-index: 2;          /* Hace que el texto esté por encima del video */
    color: var(--color-two);        /* Color del texto para que destaque sobre el video */
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center;    /* Centra horizontalmente */
    width: 100%;            /* Asegúrate de que ocupe toda la anchura */
    height: 100%;           /* Asegúrate de que ocupe toda la altura */
    text-align: center;     /* Alinea el texto dentro de cada línea */
}
#header_title H1 {
    font-family: "Instrument Serif", serif;
    color:var(--color-crema);
    font-size: calc(3rem + 1vw);

}
#video_background {
    object-fit: cover;  /* Asegura que el video cubra toda el área sin distorsionarse */
    z-index: 1;         /* Hace que el video esté por detrás del contenido */
    width: 100%;
    height:90vh;
    vertical-align:middle;
    object-fit: cover; 
}

/* MAIN */
main {
    background-color: var(--color-crema);
}

.section-title {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
/* SEPARADORES */

#separador_2 {
    background-image: url(https://media.timeout.com/images/105773601/image.jpg);
    height: 60vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* BOTÓN BACK TO TOP */
#btn-back-to-top {
    position: fixed;
    bottom: 18px;
    right: 18px;
    display: none;
}

.fas.fa-arrow-up {
    color:var(--color-two);
}

/* FOOTER */
footer {
    background-color: var(--color-marron)!important;
    padding: 2rem;
}

.widget-title, .link-secondary, .mb-4, .copyright{
    color:var(--color-crema)!important;
}

.fa-brands {
    color:var(--color-crema);
    transition: color 0.3s ease;
}
.fa-brands:hover {
    color:var(--color-rosa);
}

#logo_white {
    padding-bottom:1rem;
}

.form-control {
    border-radius: 25px;
}

.widget-title {
    font-size: calc(1.5rem + 1vw);
}