/* Variables de CSS */
/* Colores */
:root {
    --color-marron: #42210B;
    --color-crema: #FFF6EB;
    --color-rosa: #D83F5C;
    --color-beige-1: #D8C8B5;
    --color-beige-2: #CEBAA1;
}


p {
  font-family: "Instrument Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Instrument Sans", serif;
}

/* Selectores generales */
img {
    width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--color-one);
}

.btn {
    border-radius:25px;
    border: none;
}

.btn-primary {
    background-color: var(--color-marron);
    color: var(--color-crema);
    font-weight: 600;
    transition: background-color 0.5s ease;
}

.btn-primary:hover, .btn-primary:active {
    background-color: var(--color-rosa) !important;
    color: var(--color-marron);
}

.btn-secondary {
    background-color: var(--color-crema);
    font-weight: 600;
    color: var(--color-marron);
    transition: background-color 0.5s ease;
}

.btn-secondary:hover {
    background-color: var(--color-rosa);
    color: var(--color-crema);
    transition: background-color 0.5s ease;
}

.widget-title {
    font-family: "Instrument Serif", serif !important;
}

/* NAV */
#menu-bar {
    padding: 0.8em 1.6em;
    background-color: var(--color-marron);
}
.fa-bars {
    color: var(--color-crema);
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.5s ease;
}
.fa-bars:hover {
    color: var(--color-rosa);
}
#menu {
    transition: transform 0.5s;
    z-index: 9998;
}
.translate-end {
    transform: translateX(100%);
}
.translate-start {
    transform: translateX(0%);
}
#menu > ul > li > a {
    color: var(--color-crema);
    font-size: 3rem;
    transition: color 0.3s ease;
    font-size: calc(2rem + 1vw);
    font-weight: 700;
}
#menu > ul > li:hover > a {
    color: var(--color-rosa);
}
#close i {
    font-size: 2rem;
    color: var(--color-crema);
    cursor: pointer;
    transition: color 0.5s ease;
}
#close:hover i {
    color: var(--color-rosa);
}
.bg-secondary {
    background-color: var(--color-marron)!important;
}

.ventana-menu {
    padding: 1rem;
}

/* MAIN */
main {
    background-color: var(--color-crema);
}

/* PRIMER BLOQUE */

#primer-bloque {
    height: 80vh;
    background-image: url(../media/img/fondo-granos-cafe.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1-principal {
    font-size: 7rem;
    font-weight: bold;
    text-transform: uppercase;
}
.lead {
    font-size: 2.5rem;
}
b {
    font-weight: bold !important;
}
.bg-container {
    background-color: var(--color-marron);
    padding: 100px 100px;
    border-radius: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    color: var(--color-crema);
    max-width: 80%;
    text-align: center;

}

/* SEGUNDO BLOQUE */
#segundo-bloque {
    height: 1080px;
    display: flex;
}

#segundo-bloque .img-container {
    flex: 0 0 50%;
    height: 100%; 
    overflow: hidden;
}

#segundo-bloque .img-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

#segundo-bloque .text-container {
    flex: 0 0 50%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 50px; 
}
#segundo-bloque h2{
    font-family: "Instrument Serif";
    font-size: 8rem;
}

/* TERCER BLOQUE */

#tercer-bloque {
    height: 1080px;
    display: flex;
}

#tercer-bloque .text-container {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    padding: 50px; /* Espaciado interno */
}

#tercer-bloque .img-container {
    flex: 0 0 50%; 
    height: 100%;
    overflow: hidden;
}

#tercer-bloque .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#tercer-bloque h2 {
    font-family: "Instrument Serif";
    font-size: 8rem;
}

/* CUARTO BLOQUE */






/* BOTÓN BACK TO TOP */
#btn-back-to-top {
    position: fixed;
    bottom: 18px;
    right: 18px;
    display: none;
}

.fas.fa-arrow-up {
    color:var(--color-two);
}

/* FOOTER */
footer {
    background-color: var(--color-marron)!important;
    padding: 2rem;
}

.widget-title, .link-secondary, .mb-4, .copyright{
    color:var(--color-crema)!important;
}

.fa-brands {
    color:var(--color-crema);
    transition: color 0.3s ease;
}
.fa-brands:hover {
    color:var(--color-rosa);
}

#logo_white {
    padding-bottom:1rem;
}

.form-control {
    border-radius: 25px;
}

.widget-title {
    font-size: calc(1.5rem + 1vw);
}

/* MEDIA QUERIES */

/* Pantallas muy grandes */
@media (max-width: 1600px){
    /* PRIMER-BLOQUE */
    .lead{
        font-size: 2rem;
    }
    .h1-principal {
        font-size: 6rem;
    }
}

/* Pantallas grandes */
@media (max-width: 1366px){
    /* PRIMER-BLOQUE */
    .lead{
        font-size: 1.5rem;
    }
    .h1-principal {
        font-size: 5rem;
    }
    #primer-bloque {
        height: 60vh;
    }
}

/* Tablets grandes, laptops y pantallas pequeñas */
@media screen and (max-width: 1200px){
     /* PRIMER-BLOQUE */
     .lead{
        font-size: 1.3rem;
    }
    .h1-principal {
        font-size: 3rem;
    }
    #primer-bloque {
        height: 60vh;
    }
}
/* Tablets medianas (orientación vertical) */
@media screen and (max-width: 992px){
    /* PRIMER-BLOQUE */
    .lead{
        font-size: 1.1rem;
    }
    .h1-principal {
        font-size: 2.8rem;
    }
    #primer-bloque {
        height: 40vh;
    }
    .bg-container {
        padding: 50px 50px;
    }
}

/* smartphones medianos y grandes */
@media (max-width: 768px){
    /* PRIMER-BLOQUE */
    .lead{
        font-size: 1.1rem;
    }
    .h1-principal {
        font-size: 2.8rem;
    }
    #primer-bloque {
        height: 35vh;
    }
    .bg-container {
        padding: 30px 30px;
    }
}

/* smartphones pequeños */
@media (max-width: 480px){
     /* PRIMER-BLOQUE */
     .lead{
        font-size: 1rem;
    }
    .h1-principal {
        font-size: 2rem;
    }
    #primer-bloque {
        height: 35vh;
    }
    .bg-container {
        padding: 30px 30px;
    }
}